body {
  color: #999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-board {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  height: 400px;
  width: 402px;
  border: 1px solid black;
}

.game-board_element {
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  border: 1px solid brown;
  margin: 0;
}

.mole {
  background-image: url('../img/goblin.png');
  background-size: cover;
}

.display-none {
  display: none;
}
